
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_example {
	font: 90%/1.45em Arial,"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin-left: 30px;
        margin-right: 30px;
        padding: 0;
	color: #222;
	background-color: #fcffff;
}

#dt_example #container {
	width: 800px;
        height : 600px;
	margin: 30px auto;
	padding: 0;
        background: #ddd;
}


#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
}

#dt_example .demo_jui {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F2F2F2;
	border: 1px dashed #111111;
}

#dt_example h1 {
	margin-top: 1em;
	font-size: 1.9em;
        font-family: Georgia;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E4E4E;
	border-bottom: 1.5px solid #9E9E9E;
	clear: both;
}

#dt_example h2 {
	font-size: 1.4em;
        font-family: Georgia;
	font-weight: normal;
	line-height: 1.5em;
	color: #4E4E4E;
	clear: both;
}

#dt_example a {
        color : #0000ca;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #4E4E4E;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}