
 * {
     margin: 0;
     padding : 0;
     
 }
 html, body {
     height: 100%;
 }
 
 body {
 background : none repeat scroll 0 0 #F5F5F5;
 color : #302B23;
 font: 90%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
 overflow : auto;     
 }
 
#wrap {
    min-height: 100%;
    max-width : 1200px;
    min-width : 980px;
    margin: 0 auto;
}

#header {
    height : 125px;
    background: #aaa;
    
    
}

#headerTopBar {
    height:25px;
    border-bottom: 2px solid #D5D5D5;
    
}

#headerTopBar #headerLinks {
    float:left;
    margin-left: 10px;
    
}

#headerTopBar #headerLoginBar {
    float:right;
    margin-right: 10px;
}
/*
#headerMainBar {
    height:95px;
    max-width : 1200px;
    min-width : 980px;
    margin : 0 auto;
}

#headerMainBar #headerImage {
    background:  url("images/logo.jpg") no-repeat scroll 0px 8px transparent;
    float:left;
}

#headerImageBox {
    display : block;
    height : 95px;
    width : 275px;
}

#headerMainBar #headerTitle {
    font-family: "Georgia", Arial;
    font-size: 3em;
    text-align: center;
    clear:none;
    position: relative;
    margin: 0 auto;
}

#headerMainBar #headerClock {
    float:right;
    z-index: 3;
}
*/

#headerMainBar {
    width: 100%;
    vertical-align: middle;
    margin-top: 5px;
}

#headerImage {
    background:  url("images/logo.jpg") no-repeat scroll 0px 8px transparent;
    float:left;
    margin-left : 10px;
    
}

#headerImageBox {
    display : block;
    height : 95px;
    width : 300px;

}

#headerTitle {
    margin: 0 auto;
    width : 50%;
}
#headerTitleBox {
    font-family: "Georgia", Arial;
    font-size: 2.5em;
    padding: 26px 1px 1px 56px;
}

#headerClock {
    float : right;
    border: 1px solid #000;
    width: 25%;
    height: 90px;
    margin-right: 10px;
   
}

#footer {
    max-width : 1200px;
    min-width : 980px;
    margin: 0 auto;
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    background: #A5A5A5;       
}

#footerLeftBar {
    float : left;
    margin-left : 10px;
    padding : 15px 0px;
}

#footerRightBar {
    float : right;
    margin-right : 10px;
    padding : 15px 0px;
}

#dt_example {
	font: 100%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin-top: 5px;
        padding-bottom: 50px;
       
        color : #302B23;
}
#dt_example p {
    
    margin-left: 10px;
}
/*
#dt_example #container {
	width: 800px;
        height : 600px;
	margin: 30px auto;
	padding: 0;
        background: #ddd;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
}

#dt_example .demo_jui {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F2F2F2;
	border: 1px dashed #111111;
}
*/
#dt_example h1 {
	margin-top: 1em;
	font-size: 1.75em;
        font-family: Georgia;
	font-weight: bold;
	line-height: 1.25em;
	color: #302B23;
	border-bottom: 1px groove #A5A5A5;
	clear: both;
        margin-bottom: 1em;
}

#dt_example h2 {
	font-size: 1.4em;
        font-family: Georgia;
	font-weight: normal;
	line-height: 1.5em;
	color: #4E4E4E;
	clear: both;
}

#dt_example a {
        color : #0000ca;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #4E4E4E;
        padding-top: 1px;
        padding-bottom: 1px;
}


.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#topRow {
    display: block;
    height:50px;
    background: #aaa;
}


#myContainer {
        display: table;
	margin-left: 300px;
        margin-top : 25px;
	background : #aaa;
  }

  #row  {
    display: table-row;
  }

  #left, #right, #middle {
    padding : 5px 25px;
    display: table-cell;
    
  }
  
 